/* Base */
@import "./base/reset";
@import "./base/containers";
@import "./base/vars";

/* Blocks */

@import "./blocks/*.scss";

/* fonts start */

@font-face {
  src: url("../assets/fonts/EuclidFlex-Regular.woff2") format("woff2");

  font-family: "EuclidFlex";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/EuclidSquare-Regular.woff2") format("woff2");

  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/EuclidTriangle-Regular.woff2") format("woff2");

  font-family: "EuclidTriangle";
  font-style: normal;
  font-weight: 400;
}

/* fonts start */

/* svg sprites start */

.svg-arrow-dims {
  width: 15px;
  height: 18px;
}
.svg-hero-bg-dims {
  width: 702px;
  height: 567px;
}
.svg-logo-dims {
  width: 71px;
  height: 85px;
}
.svg-security-dims {
  width: 102px;
  height: 44px;
}

/* svg sprites end */

img {
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  background-color: $bg;

  font-family: "EuclidSquare";

  padding-top: 36px;
}

.btn {
  cursor: pointer;

  transition: all 500ms ease;

  &:hover {
    @include btnBoxShadow;
  }
}

/* start-main page */

/* start-header */

.header {
  height: 82.5px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 10px;
}

.logo__name {
  font-size: 32px;
  font-weight: 700;

  color: $white;
}

.menu {
  ul {
    display: flex;
    justify-content: space-between;
    li + li {
      margin-left: 20px;
    }
  }
}

.menu__item-link {
  color: $gray;

  font-size: 14px;

  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $hover-menu;
  }
}

.header__btn-sign {
  border-radius: 10px;

  background-color: rgba(126, 128, 136, 0.2);

  font-size: 16px;

  color: $gray-hover;

  padding: 6px 14px 9px;

  &:hover {
    background-color: $yellow;

    color: #191a1f;
  }
}

.header__btn-lang {
  font-size: 16px;

  color: $hover-menu;

  position: relative;

  padding: 1px;

  border-bottom: 1px solid $hover-menu;
  &:hover {
    color: $gray-hover;

    border-color: $gray-hover;
  }
}

/* end-header */

/* start-hero */

.hero {
  margin: 53px 0 160px;

  position: relative;
  .container::before {
    content: "";
    position: absolute;

    background-image: url("../assets/images/sprite.svg#hero-bg");
    background-position: 53%;
    background-repeat: no-repeat;

    height: 572px;
    width: 100%;

    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hero__outher {
  padding: 117px 86px 0 49.5px;

  display: flex;
  align-items: flex-start;
}

.hero__inner {
  width: 100%;
  .hero__title:first-child {
    text-align: right;

    margin-right: 22px;
  }
  .hero__title:last-child {
    text-align: left;

    margin-left: 7px;
  }
}

.hero__descripton {
  max-width: 417px;
}

.hero__title {
  font-family: "EuclidFlex";
  font-size: 108px;
  font-weight: 700;
  letter-spacing: 6.48px;

  line-height: 83px;

  margin-bottom: 25px;
  margin-left: 118px;

  text-align: center;

  color: $white;

  text-transform: uppercase;
}

.hero__title--italic {
  font-style: italic;
  font-weight: 400;
}

.hero__descripton {
  padding: 32px;

  border-radius: 20px;
  border: 2px solid $white;
}

.hero__descripton-text {
  font-size: 14px;

  text-transform: uppercase;

  color: $yellow;

  font-weight: 700;
}

.hero__descripton-title {
  font-size: 24px;

  color: $white;

  margin-top: 3px;
}

.hero__btn {
  @include btnBgGradient;

  border-radius: 20px;

  color: $white;

  font-size: 24px;

  padding: 12px 28px 16px;

  display: block;

  margin: 73px 221px 84px auto;
}

.hero__box-img {
  padding: 24px;

  border-radius: 60px;

  border: 1px solid #433f49;
}

.hero__box-text {
  font-size: 28px;

  color: $white;
}

.hero__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.hero__box-text {
  max-width: 530px;
}

/* end-hero */

/* start-comparsion */

.comparsion {
  color: $white;

  padding-bottom: 120px;
}

.comparison__title {
  font-family: "EuclidFlex";

  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.92px;

  margin-bottom: 40px;
}

.comparsion__header {
  background-color: #262429;

  padding: 25px 0;

  display: flex;

  justify-content: flex-end;

  margin-bottom: 25px;
}

.comparsion__header-item {
  font-weight: 700;
  font-size: 22px;

  letter-spacing: 1.32px;

  flex-basis: 294px;

  text-align: center;
}

.comparison__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.comparison__item-name {
  padding: 25px 50px;

  font-size: 23px;

  max-width: 297px;
  width: 100%;
}

.comparsion__content {
  overflow: visible;
  height: auto;

  transition: max-height 500ms ease;
}

.comparsion__content--hide {
  overflow: hidden;
}

.comparison__item-content {
  border-radius: 20px;
  border: 1px solid #433f49;

  padding: 14px 22px;

  max-width: 883px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comparsion__content-item {
  max-width: 260px;
  width: 100%;

  font-size: 17px;

  padding: 0 10px;

  text-align: center;
  &::before {
    font-size: 34px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.comparsion__content-item--plus {
  &::before {
    content: "+";
  }
}

.comparsion__content-item--minus {
  &::before {
    content: "-";
  }
}

.comparison__item--color {
  color: $yellow;
}

.comparsion__btn {
  border-radius: 28px;
  border: 2px solid #433f49;

  color: $white;

  padding: 16px 32px;

  margin-left: auto;
  margin-right: 335px;

  font-size: 20px;

  display: flex;
  align-items: center;
  svg {
    fill: #ffc266;

    margin-left: 24px;
  }
}

.comparsion__btn--active {
  background-color: $yellow;

  color: #191a1f;

  border: none;
  svg {
    fill: #191a1f;

    transform: rotate(180deg);
  }
}

.comparison__item-content--hide {
  border-radius: 20px;

  position: relative;

  background-color: #191a1f;

  border: none;

  height: 86px;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0px;
    left: -1px;
    right: -1px;

    background: linear-gradient(#433f49, #191a1f);

    border-radius: 20px;

    z-index: -1;
  }
}

.comparison__item--hide {
  opacity: 0;
}

/* end-comparsion */

/* start-features */

.features {
  padding-bottom: 135px;
}

.title {
  font-family: "EuclidFlex";

  color: $white;

  font-size: 52px;
  font-weight: 700;

  text-transform: uppercase;

  letter-spacing: 3.12px;
}

.features__title {
  margin-bottom: 45px;
}

.features__btn {
  cursor: pointer;

  transform: rotate(0deg);

  transition: all 500ms ease;
  &:hover {
    fill: $white;
  }
}

.features__btn--rotate {
  transform: rotate(180deg);
}

.features__slider-item {
  border-radius: 20px;

  padding: 1px;

  background: none;

  transition: all 500ms ease;
  &:hover {
    background: linear-gradient(90deg, rgb(232, 178, 79), rgb(221, 71, 94));

    scale: 1.05;
  }
  .features__slider-content {
    display: block;

    border-radius: 20px;

    padding: 32px;

    background-color: $bg;

    font-size: 24px;

    text-align: center;

    color: $white;

    border: 1px solid #433f49;

    z-index: 1;
  }
}

.features__box {
  height: auto;
  overflow: hidden;

  max-height: 0px;

  transition: max-height 500ms ease;
}

.features__box--show {
  overflow: visible;
}

.features__text {
  font-size: 22px;

  color: #97959b;

  position: relative;

  padding-left: 60px;
  padding-bottom: 24px;
  img {
    display: inline-block;

    width: 80px;
    height: 36px;

    object-fit: cover;

    margin-right: 5px;
  }

  &::before {
    content: "";

    display: inline-block;

    position: absolute;

    top: 12px;
    left: 0;

    width: 27px;
    height: 7px;

    background-color: $yellow;
  }
}

.slick-slide {
  margin-right: 20px;
}

.slick-list {
  padding: 10px;
}

/* end-features */

/* start-advantages */

.advantages {
  position: relative;

  margin-bottom: 85px;
  &::before {
    content: "";

    width: 100%;
    height: 500px;

    background-image: url("../assets/images/advantages-bg.png");
    background-repeat: no-repeat;
    background-position: right;

    position: absolute;

    filter: blur(10px);
  }
}

.advantages__title {
  margin-bottom: 80px;
}

.advantages__box-title {
  font-family: "EuclidFlex";
  font-size: 32px;
  font-weight: 700;

  margin-bottom: 40px;

  color: $white;
}

.advantages__items {
  height: 636px;

  position: relative;
}

.advantages__item {
  padding: 16px 40px 18px;

  font-size: 24px;

  color: $white;

  display: inline-block;

  border-radius: 28px;
  border: 2px solid $yellow;

  position: relative;
  &::after {
    position: absolute;
    top: 100%;
    z-index: -1;

    background-size: cover;
    background-position: center;
  }
}

.advantages__item--line-1 {
  left: 19.5%;
  &::after {
    content: "";
    left: 48%;

    background-image: url("../assets/images/sprite.svg#advantages-line-1");

    width: 288px;
    height: 573px;
  }
}

.advantages__item--line-2 {
  left: 29.3%;
  top: 62px;
  &::after {
    content: "";
    left: 22%;

    background-image: url("../assets/images/sprite.svg#advantages-line-2");

    width: 87px;
    height: 510px;
  }
}

.advantages__item--line-3 {
  left: -38%;
  top: 323px;
  &::after {
    content: "";
    left: 50%;

    background-image: url("../assets/images/sprite.svg#advantages-line-3");

    width: 376px;
    height: 250px;
  }
}

.advantages__item--line-4 {
  border-color: #e48655;

  left: -10.9%;
  top: 220px;
  &::after {
    content: "";
    left: -44%;

    background-image: url("../assets/images/sprite.svg#advantages-line-4");

    width: 270px;
    height: 352px;
  }
}

.advantages__item--line-5 {
  border-color: #433f49;

  svg {
    transition: all 500ms ease;

    transform: rotate(0deg);

    margin-left: 20px;
  }

  left: 78%;
  top: 308px;

  &::after {
    content: "";
    left: -130%;

    background-image: url("../assets/images/sprite.svg#advantages-line-5");

    width: 446px;
    height: 196px;
  }
}

.advantahes__container {
  border-radius: 32px;

  padding: 1px;

  background: linear-gradient(180deg, rgb(221, 71, 94), rgb(109, 21, 118));
}

.advantages__content {
  padding: 22px 36px;

  font-size: 20px;
  line-height: 150%;

  color: $white;

  border-radius: 32px;

  background-color: $bg;

  display: flex;
  gap: 24px;
  align-items: center;
}

.advantages__content-text {
  max-width: 543px;
  width: 100%;

  font-size: 22px;

  span {
    font-weight: 700;
  }
  span:last-child {
    color: $yellow;
  }
}

.devider {
  font-size: 32px;
  font-weight: 700;

  color: $white;
}

.advantages__content-currency {
  color: #97959b;

  max-width: 507px;
  width: 100%;
}

.advantages__more-list {
  list-style-position: inside;

  border-radius: 20px;

  border: 2px solid #433f49;

  background-color: $bg;

  max-width: 500px;

  position: relative;
  right: -57%;
  bottom: -52%;

  overflow: visible;

  z-index: 5;

  height: auto;

  transition: all 500ms ease;
}

.advantages__more-item {
  &:first-child {
    padding-top: 25px;
  }
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  color: $white;

  font-size: 20px;

  &::marker {
    color: $yellow;
  }
}

.advantages__item-more--show {
  border: none;

  background-color: $yellow;

  color: $bg;

  svg {
    transform: rotate(180deg);

    fill: $bg;
  }
}

.advantages__more-list--hide {
  border: none;

  overflow: hidden;
}

/* end-advantages */

/* start-automated */

.automated {
  padding-bottom: 127px;
}

.small-title {
  font-family: "EuclidFlex";
  font-size: 32px;
  font-weight: 700;

  color: $white;
}

.automated__box {
  margin-top: 42px;
  min-height: 427px;

  display: flex;

  align-items: flex-end;
}

.automated__box-before {
  position: relative;

  overflow: hidden;

  min-width: 730px;
  height: 427px;
}

.automated__item-before {
  border: 2px solid $yellow;

  display: inline-block;
}

.automated-item {
  padding: 14px 28px 14px 60px;

  position: relative;

  border-radius: 28px;

  font-size: 24px;

  color: $white;

  &::before {
    width: 28px;
    height: 28px;

    position: absolute;

    top: 50%;
    left: 24px;

    transform: translateY(-50%);

    background-size: cover;
    background-position: center;
  }
  &::after {
    background-size: cover;
    background-position: center;

    position: absolute;

    left: 100%;
    top: 42%;
  }
}

.ethereum {
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#ethereum");
  }
  &::after {
    content: "";

    background-image: url("../assets/images/sprite.svg#automated-line-1");

    width: 539px;
    height: 145px;
  }
}

.bnb {
  left: 11.1%;
  top: 64px;
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#bnb");
  }
  &::after {
    content: "";

    background-image: url("../assets/images/sprite.svg#automated-line-2");

    width: 310px;
    height: 85px;
  }
}

.doge {
  left: -34.5%;
  top: 148px;
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#bnb");
  }
  &::after {
    content: "";

    background-image: url("../assets/images/sprite.svg#automated-line-3");

    width: 487px;
    height: 8px;
  }
}

.bitcoin {
  left: -65.5%;
  top: 239px;
  &::before {
    content: "";

    width: 17px;
    height: 24px;

    background-image: url("../assets/images/sprite.svg#bitcoin");
  }
  &::after {
    content: "";

    top: -102%;

    background-image: url("../assets/images/sprite.svg#automated-line-4");

    width: 536px;
    height: 98px;
  }
}

.other {
  left: 43.3%;
  top: 265px;

  padding: 16px 28px;

  &::after {
    content: "";

    background-image: url("../assets/images/sprite.svg#automated-line-5");

    top: -226%;

    width: 278px;
    height: 177px;
  }
}

.automated__box-after-outer {
  background: linear-gradient(90deg, rgb(221, 71, 94), rgb(109, 21, 118));

  padding: 2px;

  border-radius: 32px;
}

.automated__box-after-content {
  padding: 24px 32px;

  border-radius: 32px;

  background-color: $bg;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.automated-item-after {
  border: 1px solid $white;
  & + & {
    margin-top: 8px;
  }
}

.usdt {
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#usdt");
  }
}

.busd {
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#busd");
  }
}

.usdc {
  &::before {
    content: "";

    background-image: url("../assets/images/sprite.svg#usdc");
  }
}

.automated__box-after-text {
  font-size: 20px;

  line-height: 130%;

  color: #97959b;

  margin-top: 8px;
}

.automated__content {
  margin-top: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 150%;
  color: $white;
}

.automated__content-left {
  max-width: 505px;
  width: 100%;

  font-size: 22px;
  line-height: 150%;

  span {
    color: $yellow;

    font-weight: 700;
  }
}

.automated__content-right {
  max-width: 673px;
  width: 100%;

  border-radius: 32px;

  border: 2px solid #433f49;

  padding: 24px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.automated__content-right-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;

  max-width: 137px;
}

.automated__content-right-text {
  color: #97959b;

  font-size: 18px;

  max-width: 403px;
}

/* end-automated */

/* start-wallets */

.wallets {
  padding-bottom: 120px;
}

.wallets__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 71px;
  row-gap: 37px;

  padding: 40px 0;
}

.wallet-item {
  flex-basis: 140px;

  color: $white;

  font-family: "EuclidTriangle";

  font-size: 20px;

  text-align: center;
}

.wallet-icon {
  background: none;

  border-radius: 56px;
  width: 140px;
  height: 140px;
  padding: 1px;

  margin-bottom: 12px;

  &:hover {
    background: linear-gradient(90deg, rgb(232, 178, 79), rgb(221, 71, 94));
  }
}

.wallet-icon__wrapper {
  border-radius: 56px;
  border: 1px solid #433f49;

  background-color: $bg;

  width: 138px;
  height: 138px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wallets__content-wrapper {
  border-radius: 32px;

  background: linear-gradient(90deg, rgb(221, 71, 94), rgb(109, 21, 118));

  padding: 2px;
}

.wallets__content {
  background-color: $bg;

  border-radius: 32px;

  color: $white;

  display: flex;
  align-items: center;
  gap: 26px;

  padding: 22px 30px;
}

.wallets__content-title {
  font-size: 32px;
  font-weight: 700;
}

.wallets__content-text {
  font-size: 20px;
  line-height: 130%;

  color: #97959b;
}

.svg-authereum-dims {
  width: 106px;
  height: 106px;
}
.svg-portis-dims {
  width: 62px;
  height: 94px;
}
.svg-metamask-dims {
  width: 74px;
  height: 70px;
}
.svg-formatic-dims {
  width: 54px;
  height: 56px;
}
.svg-walletConnect-dims {
  width: 84px;
  height: 52px;
}
.svg-ledger-dims {
  width: 66px;
  height: 66px;
}
.svg-walletLink-dims {
  width: 72px;
  height: 72px;
}
.svg-bitski-dims {
  width: 86px;
  height: 94px;
}
.svg-torus-dims {
  width: 54px;
  height: 58px;
}
.svg-mew-dims {
  width: 64px;
  height: 64px;
}
.svg-arkane-dims {
  width: 80px;
  height: 64px;
}
.svg-binanceWallet-dims {
  width: 84px;
  height: 84px;
}

/* end-wallets */

/* start-whitelabel */

.whitelabel {
  padding-bottom: 160px;
}

.whitelabel-content {
  margin-top: 37px;

  display: flex;
  justify-content: space-between;
}

.whitelabel-content__box {
  max-width: 584px;
  width: 100%;
}

.text {
  color: #97959b;

  font-size: 20px;
}

.whitelabel-content__list {
  list-style-position: inside;
}

.whitelabel-content__text {
  line-height: 130%;
}

.whitelabel-content__item {
  font-size: 20px;
  line-height: 130%;

  color: $white;

  margin-top: 24px;
}

.whitelabel__btn {
  padding: 16px 32px 18px;

  margin-top: 25px;

  color: $white;

  border: 2px solid #433f49;

  border-radius: 28px;

  font-size: 20px;

  display: flex;
  align-items: center;

  svg {
    transition: transform 500ms ease;

    margin-left: 24px;
  }
}

.whitelabel__btn--show {
  background-color: $yellow;

  border: none;

  color: $bg;

  svg {
    fill: $bg;

    transform: rotate(180deg);
  }
}

.app {
  border-radius: 20px;

  border: 1px solid #433f49;
}

.app-label {
  background-color: $white;

  border-radius: 50%;

  width: 11px;
  height: 11px;

  margin-right: 9px;
}

.app__header {
  background-color: $bg;

  padding: 16px;

  display: flex;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #433f49;
}

.app__content {
  background-color: $bg;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.whitelabel__app {
  background: linear-gradient(90deg, rgb(221, 71, 94), rgb(109, 21, 118));

  border-radius: 20px;

  padding: 1px;
  .app {
    border: none;
  }
}

.additional__list {
  list-style-position: inside;

  height: auto;

  transition: max-height 500ms ease;
}

.additional__list--hide {
  max-height: 0;

  overflow: hidden;
}

.additional__item {
  color: #97959b;
  font-size: 22px;
  line-height: 150%;

  padding-left: 60px;

  position: relative;

  margin-top: 24px;
  &::before {
    content: "";

    position: absolute;
    top: 15px;
    left: 0;

    width: 27px;
    height: 7px;

    background-color: $yellow;
  }
}

/* end-whitelabel */

/* start-support */

.support {
  padding-bottom: 155px;

  overflow: hidden;

  position: relative;
  &::after {
    content: "";
    height: 100%;
    width: 100%;

    background-image: url("../assets/images/sprite.svg#hero-bg");
    background-repeat: no-repeat;

    position: absolute;
    bottom: 8%;
    right: -40%;

    z-index: -1;

    transform: rotate(-173.306deg);
    filter: blur(15px);
  }
}

.support__title {
  span {
    display: block;
    &:last-child {
      margin-left: 206px;
      margin-top: -12px;
    }
  }
}

.support__content {
  display: flex;
  gap: 27px;

  margin-top: 40px;
}

.support__app {
  max-width: 709px;
  width: 100%;
}

.support__list {
  list-style-position: inside;

  padding: 11px 0;
}

.support__item {
  color: $white;

  font-size: 22px;

  margin-bottom: 32px;
}

.support__app-icon {
  position: relative;

  padding: 20px;

  &::before {
    content: "";

    width: 346px;
    height: 326px;

    background-image: url("../assets/images/sprite.svg#support-app-icon");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 47%;
    left: 47%;

    transform: translate(-50%, -50%);
  }
}

/* end-support */

/* start-integration */

.integration {
  padding-bottom: 160px;

  position: relative;
  &::after {
    content: "";
    height: 100%;
    width: 100%;

    background-image: url("../assets/images/sprite.svg#hero-bg");
    background-repeat: no-repeat;

    position: absolute;
    bottom: -60%;
    left: -35%;
    z-index: -1;
    filter: blur(50px);
  }
}

.integration__subtitle {
  font-family: "EuclidFlex";
  font-size: 32px;
  font-weight: 700;

  margin-top: 40px;

  color: $white;
}

.integration__content {
  margin-top: 40px;
}

.integration__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.integration__content-block {
  padding: 16px 40px;

  font-size: 24px;

  color: $white;

  background-color: $bg;

  border-radius: 28px;
}

.integration__content-block--border {
  border-radius: 28px;

  text-align: center;

  padding: 2px;

  width: 100%;
}

.integration__content-top {
  .integration__content-block--border:nth-of-type(1) {
    background: linear-gradient(270deg, rgb(221, 71, 94), rgb(232, 178, 79));

    max-width: 240px;
  }

  .integration__content-block--border:nth-of-type(2) {
    background: linear-gradient(90deg, rgb(221, 71, 94), rgb(232, 178, 79));

    max-width: 872px;
  }
}

.integration__content-bottom {
  .integration__content-block--border:nth-of-type(1) {
    background: linear-gradient(315deg, rgb(221, 71, 94), rgb(232, 178, 79));
  }
}

.integration__content-bottom {
  max-width: 715px;

  margin-left: auto;
}

.devider--rotate {
  transform: rotate(90deg);

  display: inline-block;

  position: relative;

  left: 48.5%;

  margin-top: 37px;
  margin-bottom: 25px;
}

.integration__btn {
  border-radius: 20px;

  display: block;

  margin: 0 auto;

  color: $white;
  font-size: 24px;

  padding: 12px 28px 16px;

  background: linear-gradient(90deg, rgb(221, 71, 94), rgb(232, 178, 79));
}

/* end-integration */

/* start-footer */

.footer {
  background-color: $white;

  padding: 80px 0;
}

.footer_title {
  color: $bg;
}

.footer__content {
  display: flex;
  gap: 80px;

  margin-top: 28px;
}

.footer__info {
  max-width: 652px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__text {
  color: $bg;

  font-size: 20px;
  line-height: 120%;
}

.social {
  color: #000;
  font-family: "EuclidTriangle";
  font-size: 24px;
}

.social__link {
  &::before {
    content: "";
    display: block;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 43px;
    height: 42px;
  }
}

.social-list {
  display: flex;
  align-items: center;

  margin-top: 10px;
  padding: 5px;
  a {
    margin-right: 26px;
  }
}

.twitter::before {
  background-image: url("../assets/images/sprite.svg#twitter");
  width: 48px;
  height: 44px;
}

.facebook::before {
  background-image: url("../assets/images/sprite.svg#facebook");
}

.instagram::before {
  background-image: url("../assets/images/sprite.svg#instagram");
}

.vk::before {
  background-image: url("../assets/images/sprite.svg#vk");
}

.telegram::before {
  background-image: url("../assets/images/sprite.svg#telegram");
}

.youtube::before {
  background-image: url("../assets/images/sprite.svg#youtube");
  width: 61px;
}

.linkedin::before {
  background-image: url("../assets/images/sprite.svg#linkedin");
}

.footer__form {
  flex-grow: 1;

  padding: 5px 0;
}

.form__input {
  display: block;

  padding: 16px 0;

  margin-bottom: 15px;

  width: 100%;

  &::placeholder {
    font-size: 20px;
  }
}

.form__input--light {
  color: $bg;

  border-bottom: 1px solid #e1e1e1;
  &::placeholder {
    color: $bg;
  }
}

.form__input--dark {
  background: #262429;

  color: $hover-menu;

  padding-left: 30px;

  border-bottom: 1px solid #433f49;
  &::placeholder {
    color: $hover-menu;
  }
}

.form__btn {
  border-radius: 20px;

  background: linear-gradient(270deg, rgb(221, 71, 94), rgb(232, 178, 79));

  color: $white;
  font-size: 24px;

  margin-top: 16px;

  padding: 12px 28px 16px;
}
/* end-footer */

/* end-main page */

/* start-breadcrumbs */

.breadcrumbs {
  padding: 50px 0;
  a {
    color: #7e8088;

    font-size: 22px;
    line-height: 130%;

    &:hover {
      color: $gray-hover;
    }
  }

  svg {
    margin: 0 16px;
  }
}

/* end-breadcrumbs */

/* start-contact page */

.contacts {
  padding: 35px 0 97px;

  position: relative;

  overflow: hidden;
  &::before {
    content: "";

    height: 100%;
    width: 100%;

    background-image: url("../assets/images/sprite.svg#hero-bg");
    background-repeat: no-repeat;

    position: absolute;
    top: -8%;
    left: 78%;

    z-index: -1;
    transform: rotate(232deg);
  }
  &::after {
    content: "";

    height: 100%;
    width: 100%;

    background-image: url("../assets/images/sprite.svg#hero-bg");
    background-repeat: no-repeat;

    position: absolute;

    top: 5%;
    left: -85%;
    z-index: -1;

    filter: blur(30px);
  }
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__text {
  color: $white;

  font-size: 22px;

  line-height: 150%;
}

.contacts__text--margin {
  margin-bottom: 30px;
}

.contacts__content {
  display: flex;

  justify-content: space-between;

  margin: 121px 0px;
}

.contacts__email {
  div {
    color: $white;

    font-size: 20px;

    font-weight: 700;
    line-height: 130%;
    a {
      color: $yellow;

      display: block;
    }
  }
  div + div {
    margin-top: 26px;
  }
}

.contacts__form {
  max-width: 466px;
  width: 100%;
}

/* end-contact page */

/* start-fees page */

/* start-transaction */

.transaction {
  padding: 34px 0 131px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.transaction__content {
  max-width: 513px;
  width: 100%;

  margin-top: 40px;
}

.transaction__title {
  span {
    display: block;

    font-style: italic;
    font-weight: 400;

    line-height: 57px;
  }
}

.transaction__app {
  max-width: 580px;
  width: 100%;
}

.transaction__text {
  color: $white;

  font-size: 22px;

  line-height: 130%;

  margin-top: 34px;
}

.transaction__text-info {
  color: #97959b;

  font-size: 18px;

  line-height: 130%;

  margin-top: 38px;
}

.attention-icon {
  &::after {
    content: "i";

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    color: #000;

    font-weight: 700;

    width: 20px;
    height: 20px;

    background-color: $yellow;

    margin-left: 15px;
  }
}

.transaction__app-icon {
  position: relative;

  padding: 20px;

  &::before {
    content: "";

    width: 346px;
    height: 326px;

    background-image: url("../assets/images/sprite.svg#transaction-app-icon");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 49%;
    left: 57%;

    transform: translate(-50%, -50%);
  }
}

/* end-transaction */

/* start-payments */

.payments {
  padding-bottom: 162px;
}

.fees-title {
  color: $white;

  font-family: "EuclidFlex";
  font-size: 42px;

  font-weight: 700;
}

.payments__content {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}

.payment-item {
  color: $white;

  max-width: 330px;
  width: 100%;

  text-align: center;

  height: 316px;

  position: relative;

  .wallet-icon {
    margin: 0 auto;
  }
}

.payment-item__title {
  font-size: 20px;
  font-weight: 700;

  margin-top: 12px;
}

.payment-item__text {
  font-family: "EuclidTriangle";

  font-size: 20px;
}

.payment-item__rate {
  font-size: 20px;

  position: absolute;

  bottom: 0;

  width: 100%;
}

.payments__wrapper {
  background: linear-gradient(90deg, rgb(221, 71, 94), rgb(109, 21, 118));

  padding: 2px;

  border-radius: 32px;

  margin-top: 160px;
}

.payments__about {
  border-radius: 32px;

  background-color: $bg;

  padding: 22px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payments__about-title {
  color: $white;

  font-size: 32px;

  font-weight: 700;

  max-width: 312px;
  width: 100%;
}

.payments__about-text {
  max-width: 750px;
  width: 100%;
}

/* end-payments */

/* start-withdrawal */

.withdrawal {
  padding-bottom: 160px;

  .fees-title {
    letter-spacing: 3.2px;
  }
}

.withdrawal__content {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}

.withdrawal__box {
  max-width: 584px;
  width: 100%;
}

.withdrawal__box-header {
  background: #262429;

  display: flex;

  color: $white;

  font-size: 22px;
  font-weight: 700;

  margin-bottom: 25px;

  padding: 25px 0;
  div {
    padding-left: 58px;

    width: 50%;

    letter-spacing: 1.32px;
  }
}

.withdrawal__box-item {
  border-radius: 20px;
  border: 1px solid #433f49;

  padding: 15px 0;

  color: $white;

  font-size: 18px;

  display: flex;

  letter-spacing: 1.08px;

  div {
    padding-left: 58px;
    width: 50%;
  }
}

.withdrawal__box-currency {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-right: 10px;
  }
  &::after {
    content: none;
  }
}

/* end-withdrawal */

/* end-fees apge */
