<footer class="footer">
  <div class="container">
    <div class="social">
      <span data-lang="footer-social">Our social media</span>
      <div class="social-list">
        <a href="#" class="social__link twitter"></a>
        <a href="#" class="social__link facebook"></a>
        <a href="#" class="social__link instagram"></a>
        <a href="#" class="social__link vk"></a>
        <a href="#" class="social__link telegram"></a>
        <a href="#" class="social__link youtube"></a>
        <a href="#" class="social__link linkedin"></a>
      </div>
    </div>
  </div>
</footer>
