<footer class="footer">
  <div class="container">
    <h4 data-lang="footer-title" class="title footer_title">Contact us</h4>
    <div class="footer__content">
      <div class="footer__info">
        <p data-lang="footer-text" class="footer__text">
          We like working with cool CEOs and ambitious projects. Leave your
          phone number or e-mail and 1 of 4 of our managers will contact you to
          in detail learn about your project.
        </p>
        <div class="social">
          <span data-lang="footer-social">Our social media</span>
          <div class="social-list">
            <a href="#" class="social__link twitter"></a>
            <a href="#" class="social__link facebook"></a>
            <a href="#" class="social__link instagram"></a>
            <a href="#" class="social__link vk"></a>
            <a href="#" class="social__link telegram"></a>
            <a href="#" class="social__link linkedin"></a>
            <a href="#" class="social__link youtube"></a>
          </div>
        </div>
      </div>
      <form class="form footer__form">
        <input
          data-lang="footer-input"
          class="form__input form__input--light"
          type="text"
          placeholder="Name"
        />
        <input
          data-lang="footer-input"
          class="form__input form__input--light"
          type="text"
          placeholder="Phone number"
        />
        <input
          data-lang="footer-input"
          class="form__input form__input--light"
          type="text"
          placeholder="Email adress"
        />
        <button data-lang="footer-btn" class="btn form__btn" type="submit">
          Send a request
        </button>
      </form>
    </div>
  </div>
</footer>
