<header class="header">
  <div class="container">
    <a href="index.html" class="logo">
      <img
        class="logo__img svg-logo-dims"
        src="assets/images/sprite.svg#logo"
        alt="logo-img"
      />
      <div class="logo__name">CryptoTransfer</div>
    </a>
    <nav class="menu">
      <ul>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="index.html#features"
            >Features</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="index.html#advantages"
            >Advantages</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="index.html#support"
            >Technical support</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="index.html#integration"
            >Integration</a
          >
        </li>
        <li>
          <a data-lang="header-menu" class="menu__item-link" href="fees.html"
            >Fees</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="business.html"
            >Business</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="gambling.html"
            >Gambling</a
          >
        </li>
        <li>
          <a
            data-lang="header-menu"
            class="menu__item-link"
            href="contacts.html"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <nav class="mobile-menu">
      <div class="mobile-menu__btn"></div>
      <div class="burger-menu-overlay">
        <ul class="burger-menu">
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="index.html#features"
              >Features</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="index.html#advantages"
              >Advantages</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="index.html#support"
              >Technical support</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="index.html#integration"
              >Integration</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="fees.html"
              >Fees</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="business.html"
              >Business</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="gambling.html"
              >Gambling</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="contacts.html"
              >Contact us</a
            >
          </li>
          <li>
            <a
              data-lang="header-mobile-menu"
              class="mobile-menu__item-link"
              href="#"
              >Sign in</a
            >
          </li>
          <li>
            <a
              class="mobile-menu__item-link mobile-menu__item-link--lang"
              href="#"
              >EN</a
            >
          </li>
          <li>
            <div class="mobile-menu__btn-close"></div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header__box">
      <button data-lang="header-btn" type="button" class="btn header__btn-sign">
        Sign in
      </button>
      <button type="button" class="btn header__btn-lang">EN</button>
    </div>
  </div>
</header>
