<header class="header">
  <div class="container header__container">
    <a href="index.html" class="logo">
      <img
        class="logo__img svg-logo-dims"
        src="assets/images/sprite.svg#logo"
        alt="logo-img"
      />
      <div class="logo__name">0Xprocessing</div>
    </a>
    <nav class="menu">
      <ul>
        <li>
          <a class="menu__item-link" href="index.html#features">Features</a>
        </li>
        <li>
          <a class="menu__item-link" href="index.html#advantages">Advantages</a>
        </li>
        <li>
          <a class="menu__item-link" href="index.html#support"
            >Technical support</a
          >
        </li>
        <li>
          <a class="menu__item-link" href="index.html#integration"
            >Integration</a
          >
        </li>
        <li><a class="menu__item-link" href="fees.html">Fees</a></li>
        <li><a class="menu__item-link" href="business.html">Business</a></li>
        <li><a class="menu__item-link" href="gambling.html">Gambling</a></li>
        <li>
          <a class="menu__item-link" href="contacts.html">Contact us</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn header__btn-sign">Sign in</button>
    <button type="button" class="btn header__btn-lang">EN</button>
  </div>
</header>
