@font-face {
  src: url("../../assets/fonts/EuclidFlex-Regular.woff2") format("woff2");

  font-family: "EuclidFlex";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../../assets/fonts/EuclidSquare-Regular.woff2") format("woff2");

  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 400;
}
